* {
  font-family: "Basier", "arial", "sans-serif";
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
//Font-face
@font-face {
  font-family: "Rumeur";
  src: url("../../assets/fonts/rumeur.otf") format("opentype");
}
@font-face {
  font-family: "Basier";
  src: url("../../assets/fonts/BasierCircle-Regular.otf") format("opentype");
}
//Element Scss
.home {
  width: 100%;
  .slider {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 730px;

    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 730px;
      background-repeat: no-repeat;
      background-size: cover;
      transform-origin: 50% 100%;
      background-position: center center;
      transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);

      .slide__content {
        position: absolute;
        top: 60%;
        left: 56%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        padding: 30px 0 0 30px;
        text-align: left;
        .circle {
          width: 75px;
          height: 75px;
          border: 1px solid white;
          border-radius: 50%;
          position: relative;
          top: 50%;
          left: -29%;
          transition: all 0.3s ease-in;
          .point {
            width: 16px;
            height: 16px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            top: 40%;
            left: 40%;
          }
        }
        small {
          font-size: 1.1em;
          font-weight: 300;
          transition: all 0.3s ease-in;
        }
        h4 {
          font-family: "Rumeur";
          font-size: 2em;
          max-width: 300px;
          margin-top: 10px;
          transition: all 0.3s ease-in;
        }
      }
    }
    .slide.active ~ .slide {
      z-index: 0;
    }
    .slide.active {
      z-index: 1;
    }
    .slider__buttons {
      position: absolute;
      bottom: 20%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      .slider__button {
        border: none;
        background-color: rgba(196, 196, 196, 0.69);
        margin: 0 10px;
        padding: 10px;
        width: 40px;
        height: 30px;
        transition: transform 0.3s ease-in-out;
        transform: scaleY(1);
        cursor: pointer;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        &:hover {
          transform: scaleY(1.5);
        }
      }
      .slider__button.active {
        transform: scaleY(1.35);
      }
    }
  }
  .tripple {
    display: flex;
    .card {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: flex-end;
      padding: 40px;
      .mini {
        color: white;
        font-family: "Basier", "arial", "sans-serif";
        font-size: 1.375rem;
        line-height: 1.09;
        margin-bottom: 10px;
        .link-underline{
          text-decoration: underline;
        }
      }
      h4 {
        color: white;
        font-size: 2.125rem;
        font-family: "Rumeur", "arial", "sans-serif";
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 7.5px;
      }
    }
    .left {
      background-image: url(../../assets/image/block_gift_card.jpg);
    }
    .middle {
      background-image: url(../../assets/image/block_xpack.jpg);
    }
    .right {
      background-image: url(../../assets/image/block_tee_machine.jpg);
    }
  }
}
//Media
@media (min-width: 1025px) {
  .slider {
    margin-bottom: 100px;
  }
  .tripple {
    padding: 0;
    margin: 100px 0 160px;
    flex-wrap: nowrap;
    .card {
      width: 33.3333%;
      height: 368px;
    }
  }
}
@media (max-width: 1025px) {
  .slider {
    margin-bottom: 45px;
  }
  .tripple {
    padding: 0 10px;
    margin: 45px 0 115px;
    display: flex;
    flex-wrap: wrap;
    .card {
      width: 100%;
      margin-bottom: 10px;
      height: 618px;
    }
  }
}
@media (max-width: 645px){
  .before,
  .after{
    display: none;
  }
}
