.navbar {
  color: #f2f3ee;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  .sideMenu {
    overflow-y: scroll;
    position: fixed;
    left: 0;
    height: 100%;
    transition: all 1s ease-in-out;
    transform: translateX(-100%);
    z-index: 999;
    background: #fbfbfa;
    color: #353532;
    .menu-top {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      span {
        position: absolute;
        top: 10px;
        cursor: pointer;
      }
    }
    .menu-inner {
      .menu-list {
        .menu-item {
          width: 100%;
          .menu-title {
            font-family: "Rumeur", "arial", "sans-serif";
            font-size: 2.125rem;
          }
          .shop-list-item {
            padding: 20px 0;
            li {
              margin-bottom: 16px;
              a {
                color: #353532;
                font-size: 0.875rem;
                font-weight: 300;
                line-height: 1.22;
              }
            }
          }
          .other-list-item {
            padding: 20px 0;
            li {
              margin-bottom: 16px;
              a {
                color: #353532;
                font-size: 0.875rem;
                font-weight: 300;
                line-height: 1.22;
              }
            }
          }
          .info-list {
            padding: 20px 0;
            li {
              margin-bottom: 16px;
              font-family: "Basier", "arial", "sans-serif";
              font-size: 0.875rem;
              font-weight: 300;
              line-height: 1.22;
              a {
                color: #353532;
              }
            }
          }
          p {
            line-height: 1.22;
            margin-bottom: 1rem;

            a {
              font-size: 1.125rem;
              color: #9a9a98;
            }
          }
          .top-info-p {
            margin-top: 40px;
          }
        }
        .kaft-world {
          background-color: #edc50a;
        }
      }
    }
  }
  .row {
    display: flex;
    .menuBar {
      padding-top: 10px;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      position: relative;
      span {
        display: inline-block;
        width: 40px;
        padding: 5px 10px;
        position: absolute;
        top: 4px;
        left: 0;
        color: inherit;
        cursor: pointer;
        i {
          display: block;
          width: 100%;
          margin-bottom: 5px;
          border-top: 2px solid #f2f3ee;
          transform: rotate(15deg);
          pointer-events: auto;
        }
      }
      b {
        margin-left: 51px;
        cursor: pointer;
      }
    }
    .middle-col {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      text-align: center;
      img {
        width: 36px;
        height: 40px;
        object-fit: cover;
        cursor: pointer;
      }
    }
    .right-col {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .loginTitle {
        color: #f2f3ee;
        display: inline-block;
        transition: all 0.5s linear 0s;
        &:hover {
          border-bottom: 1px solid #f2f3ee;
        }
      }
      .cartInfo {
        display: inline-block;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #f2f3ee;
        color: #353532;
        margin-left: 40px;
        text-align: center;
      }
      i {
        display: block;
        font-size: 20px;
      }
      small {
        display: block;
        font-size: 13px;
        margin-bottom: 8px;
        margin-top: 5px;
      }
    }
  }
}
.scrolled {
  background-color: #fff;
  color: #353532;
  padding: 16px 40px 0 40px !important;
  .menuBar {
    span {
      i {
        border-top: 2px solid #0d0c10 !important;
      }
    }
  }
  .right-col {
    padding-bottom: 10px;
    .loginTitle {
      color: #0d0c10 !important;
      &:hover {
        border-bottom: 1px solid #0d0c10 !important;
      }
    }
  }
  .cartInfo {
    background-color: #0d0c10 !important;
    color: #fff !important;
  }
}
.show {
  .sideMenu {
    transition: all 1s ease-in-out;
    transform: translateX(0) !important;
  }
}
@media (min-width: 1025px) {
  .navbar {
    padding: 30px 40px 0;
  }
  .loginTitle {
    font-weight: 400;
  }
  .sideMenu {
    top: 0;
    width: calc(100vw - 100px);
    max-width: 2000px;
    .menu-top {
      height: 80px;
      padding: 0;
      span {
        right: auto;
        left: 30px;
        padding: 24px;
        height: 60px;
        font-size: 31px;
      }
    }
    .menu-inner {
      top: 0;
      height: 100%;
      margin-left: 36px;
      .menu-list {
        display: flex;
        justify-content: flex-end;
        height: inherit;
        .second {
          background-color: #f2f3ef;
        }
        .menu-item {
          width: 36%;
          padding-top: 55px;
          .menu-title {
            margin: 20px 0 10px;
          }
          .shop-list-item {
            width: 60%;
            float: left;
          }
          .other-list {
            width: 40%;
            float: left;
          }
        }
        .kaft-world {
          width: 30%;
        }
      }
    }
  }
}
//Media
@media (min-width: 1025px) and (max-width: 1299px) {
  .sideMenu {
    .menu-list {
      .menu-item {
        padding: 80px 20px 0;
      }
    }
  }
}
@media (min-width: 1299px) {
  .menu-item {
    padding: 80px 50px 0;
  }
}
@media (max-width: 1024px) {
  .navbar {
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    b {
      display: none;
    }
  }
  .loginTitle {
    display: none !important;
  }

  .cartInfo {
    margin-left: 0 !important;
    color: #f2f3ee !important;
    background-color: transparent !important;
  }
  .sideMenu {
    position: fixed;
    top: 0;
    width: calc(100vw - 50px);
    min-width: 300px;
    max-width: 350px;
    .menu-top {
      position: absolute;
      top: 0;
      left: 0;
      height: 50px;
      padding: 30px;
      background: transparent;
      z-index: 1;
      span {
        position: absolute;
        top: 20px !important;
        left: 300px;
        font-size: 31px;
      }
    }
    .menu-inner {
      top: 0;
      height: calc(100% - 50px);
      padding-top: 50px;
      .menu-item {
        padding: 40px 30px;
      }
    }
  }
}
